@import "../variables.scss";

.result .profile .features{
    margin-top: 25px;
    .featuresTable{
        padding: 0;
        margin-top: 15px;
        .featureTitle{
            background-color: $background-secondary;
            color: white;
            padding: 5px;
            text-transform: uppercase;
            font-weight: 600;
        }
        ul{
            padding-top: 0;
        }
        &:first-child{
            border-right: 3px solid $background-secondary;
        }
        li{
            padding: 5px 30px; 
            align-self: center;
            &:nth-child(even){
                background-color: $text-secondary;
            }
        }
    }
}