@import './variables.scss';

.result .chartResults{
    ul{
        list-style-type:none ;
    }
    .resultTable{
        border: none;
        font-weight: 600;
        thead tr {
            th{
                background-color: rgba($color: $table-primary, $alpha: .7);
                border: 2px solid $table-primary;
                text-align: center;
                &:first-child{
                    background-color: transparent;
                    border: none;
                }
            }
        }
        tbody tr {
            td{
                    border: 2px solid $table-primary;
                    text-align: center;
                    &.count{
                        background-color: $table-primary;
                        color: white;
                        text-align: center;
                        vertical-align: middle;
                        display: table-cell;
                    }
            }
            &:last-child td:last-child{
                background-color:rgba($color: $table-primary, $alpha: .7);
                @media print {
                    background-color:rgba($color: $table-primary, $alpha: .7);
                }
            }
        }
    }
}