@import './variables.scss';

.result .profile .priority{
    .texts{
        border-top: 2px solid $background-secondary;
        padding: 0px 0 15px 0; 
        .title{
            background-color:$background-secondary;
            padding: 5px;
            position: relative;
            top: -15px;
            font-weight: 600;
            color: white;
        }
        p{
            margin-bottom: 0;

        }
    }
}