@import "../variables.scss";
footer {
	width: 100%;
	min-height: 300px;
	position: relative;
	bottom: 0;
	margin-top: 150px;
	padding: 25px 85px;
	&.app{
		min-height: auto;
	}
	h3 {
		font-size: 30px;
		color: white;
		font-weight: 600;
	}
}